body {height: 100%; overflow: auto}
.err-msg {color: red; font-size: 18px}
.player-info {position: relative; padding-left: 10px;}
.main-panel-info {max-height: 600px; border: 1px solid darkgreen; overflow: auto;}
.save-button {margin-left: 10px;display: block;cursor: pointer;}