.info-field
{
  padding: 5px;
  span.square {display: inline-block; width: 16px; height: 16px;margin-right: 5px; vertical-align: middle;}
  input {margin-left: 5px; padding-left: 5px; padding-right: 5px;}
  .url-field {
    display: inline-block;
    input {width: 500px;}
  }
  .info-url {
    width: 300px;
    display: block;
    border: 1px blue solid;
    margin-top: 3px;
    margin-left: 5px;
  }

  &.level0 {
    margin-left: 10px;
    span.square {background-color: #000060}
  }

  &.level1 {
    margin-left: 20px;
    span.square {background-color: #0000a0}
  }

  &.level2 {
    margin-left: 30px;
    span.square {background-color: #0000d0}
  }

  &.level3 {
    margin-left: 40px;
    span.square {background-color: #0000ff}
  }
}